<table>
  <thead>
    <tr>
      <% headers.each do |header| %>
        <th><%= header %></th>
      <% end %>
      <th>Opcje</th>
    </tr>
  </thead>
  <tbody>
    <% objects.each do |object| %>
      <tr>
        <% fields.each do |field| %>
          <td><%= object.send(field) %></td>
        <%  end %>
        <td>
          <%= link_to("Edytuj", url(:controller => controller_name, :action => "edit", :id => object.id)) %>
          <%= link_to("Usuń", url(:controller => controller_name, :action => "delete", :id => object.id)) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
