---
# This is a sample database file for the DataMapper ORM
development: &defaults
  # These are the settings for repository :default
  adapter:  postgres
  database: scheduler_development
  username: postgres
  password: postgres

test:
  <<:       *defaults
  database: scheduler_test

production:
  <<:       *defaults
  database: scheduler_production

rake:
  <<: *defaults
